{% block body %}
    <h1>Google News Feed</h1>

    {{ dump() }}

    <ul>
        {% for newsItem in newsItemsArray %}
            <li>{{ newsItem.title }}
                <ul>

                    {{ newsItem.shortDescription }}

                </ul>
            </li>

        {% endfor %}
    </ul>
{% endblock %}